.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1.25rem 6rem;
	background-color: rgb(255, 255, 255);
	margin-bottom: 4rem;
	box-shadow: 0px 0px 1rem -2px rgba(16, 17, 20, 0.151);
	gap: 1.25rem;
}
@media (max-width: 45rem) {
	.navbar {
		padding: 1.25rem 2rem;
	}
}
.navbar .logo {
	font-weight: 700;
	font-size: 1.6rem;
}
@media (max-width: 45rem) {
	.navbar .logo {
		font-size: 1.25rem;
	}
}
button.theme-mode {
	background: none;
	border: none;
	font-size: 1rem;
	font-weight: 600;
	cursor: pointer;
	color: inherit;
}
