.history-item {
	display: flex;
	justify-content: space-between;
	padding: 0.5rem;
	margin-bottom: 1rem;
	cursor: pointer;
}
.history-item:hover{
	background-color: rgb(248, 248, 248);
}
.border-green {
	border-right: 4px solid rgb(48, 216, 48);
}
.border-red {
	border-right: 4px solid rgb(216, 48, 48);
}
.history-intro-title {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 0.9rem;
	margin-bottom: 0.5rem;

}
.history-item-title {
	font-weight: 500;
}
.big-line {
	height: 1px;
	width: 80%;
	background-color: rgb(218, 218, 218);
	margin-bottom: 1.25rem;
}
